{% extends "base2.html" %}
{% block title %} {{ post.title }} - 介紹{% endblock title %}
{% block headmessage %} 
<div style='display: flex; justify-content: space-between; align-items: center;'>
    <h3 style='font-family: 微軟正黑體;'>{{ post.title }}簡介</h3>
    <a style='font-family: 微軟正黑體;' href='/'>回首頁</a>
</div>
{% endblock headmessage %} 
{% block content %} 
<div class="card">
    <div class="row no-gutters">
        <div class="col-md-3">
            <!-- 左側列放置圖像 -->
            <img src="{{ post.image_url }}" alt="Post Image" class="card-img">
        </div>
        <div class="col-md-8">
            <!-- 右側是cardㄉ內容-->
            <div class="card-body">
                <h5 class="card-text">作者: {{ post.author }}</h5>
                <h5 class="card-text">{{ post.chapter }}</h5>
                <h5 class="card-text">內容簡介︰</h5>
                <h5 class="card-text">{{ post.body }}</h5>
                <h5 class="card-text">出版日期︰ {{ post.pub_date }}</h5>
                <a href="javascript:void(0);" class="btn btn-primary" onclick="addToMyList('{{ post.title }}')">加入收藏!</a>     
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header"><h4 style='font-family:微軟正黑體;'>集數</h4></div>
        <ul style="list-style: none; padding: 0; margin: 0;">
            {% for episode in episodes %}
            <li style="display: inline-block; margin-right: 10px;">
                <a href="{% url 'showepisode' episode.id %}" style="font-size: 20pt;">{{ episode.episode }}</a>
            </li>
            {% endfor %}
        </ul>
</div>
{% endblock content %}