{% extends "base2.html" %}
{% block title %}查詢結果{% endblock title %}
{% block headmessage %} 
<div style='display: flex; justify-content: space-between; align-items: center;'>
    <h3 style='font-family: 微軟正黑體;'>查詢結果</h3>
    <button onclick="goBack()">回上頁</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
{% endblock headmessage %} 
{% block content %} 
{% if empty %}
        <h2>請輸入關鍵字</h2>
    {% elif no_result %}
        <h2>沒有此書餒: {{ keyword }}</h2>
    {% else %}
        {% for post in posts %}
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <!-- 左側列放置圖像 -->
                        <img src="{{ post.image_url }}" alt="Post Image" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <!-- 右側是cardㄉ內容-->
                        <div class="card-body">
                            <h3 class="card-title">{{ post.title }}
                            </h3>
                            <h5 class="card-text">作者: {{ post.author }}</h5>
                            <h5 class="card-text">{{ post.chapter }}</h5>
                            <h5 class="card-text">出版時間: {{ post.pub_date }}</h5>
                            {% if user.is_authenticated %}
                                <a href="/intro/{{ post.slug }}" class="btn btn-primary">開始租借</a>
                                <a href="javascript:void(0);" class="btn btn-primary" onclick="addToMyList('{{ post.title }}')">加入收藏!</a>
                            {% else %}
                            <a href="/intro/{{ post.slug }}" class="btn btn-primary">預覽</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endif %}
{% endblock content %}
<a href="/intro/{{ post.slug }}">{{ post.title }}</a>