{% extends "base2.html" %}

{% block title %}查看使用者{% endblock title %}
{% block headmessage %} 
<div style='display: flex; justify-content: space-between; align-items: center;'>
    <h3 style='font-family: 微軟正黑體;'>管理員登入</h3>
    <button onclick="goBack()">回上頁</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
{% endblock headmessage %} 
{% block content %} 
<div class="container mt-4">
    <h1 class="text-center"><u>Students List</u></h1>
    <table class="table table-hover" id="example">
        <thead>
            <tr class="text-center">
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="text-center">
                <td>{{user.username}}</td>
                <td>{{user.get_full_name}}</td>
                <td>{{user.email}}</td>
                <td><a href="/delete_user/{{user.id}}/" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this student?')">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock content %}
